# Problem Set 2

# Question 1
Consider the following Python module:

What value is displayed when the last expression (a) is evaluated? 
Explain your answer by indicating what happens in every executed statement.

In [11]:
a = 0 

def b():
    global a
    a = c(a)
    print


def c(a):
    return a + 2
b()
b()
b()
a

6

-The value returned by the previous expression is 6

-The above result is 6 because in each task

2 are added to b(), so if a=0, in the first one it is: 0+2 =2,
in the second b() the previous is 2 + 2 = 4.
in the third b() the previous value is added 4 + 2= 6
and at the end a = 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

as shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:

In [3]:
import os
def fileLength(file_name):

    try:
        length = os.path.getsize(file_name)
        return length
    
    except FileNotFoundError:
        return "File "+file_name+" not found."

print(fileLength("Filelength.py"))
print(fileLength("ilelength.py"))

File Filelength.py not found.
File ilelength.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:

In [13]:
class Marsupial:
    def __init__(self, contents=[]):
        self.lst = []
    def put_in_pouch(self, item):
        self.lst.append(item)
    def pouch_contents(self):
        print(self.lst)
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object.

b. supports method jump that takes number values dx and dy as input and 
movesthe kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

In [14]:
class Marsupial:

    def __init__(self, contents=[]):
        self.pouch=[] 
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):

    def __init__(self, x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y

    def jump(self, dx, dy):
        self.x+=dx
        self.x+=dy    

    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

    

k = Kangaroo(0,0)
print(k)
print (" ------------------------")

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
print ("------------------------")

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
print ("------------------------")

I am a Kangaroo located at coordinates (0,0)
 ------------------------
['doll', 'firetruck', 'kitten']
------------------------
I am a Kangaroo located at coordinates (3,0)
------------------------

# Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:

Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [15]:
def collatz(n):

    if n==1:
        print(n)
        return
    
    elif n%2==0:
        print(n)
        return collatz(n//2)  #call method recursively
    
    else:
        return collatz(n*3+1)  #call method recursively
    
print('Enter a number') 
n=input()
n=collatz(int(n))

Enter a number
1
1

In [16]:
def collatz(n):

    if n ==1:
        print(n)
        return n
    
    elif n % 2==0:
        print(n)
        #n= n//2
        return collatz(n//2)
    
    else:
        return collatz(n*3+1)
    
print('Enter a number') 
n=input()
n=collatz(int(n))

Enter a number
10
10
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [17]:
def binary(n):
   
    if n == 0:
        return '0'
    else:
        num = ''
    while n > 0:
        num = str((n % 2)) + num
        n //= 2
    return num

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

# Question 6
Test your 
implementation using w3c.html.

In [ ]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headerFlag = False
    indent = 0
    
    def handle_starttag(self, tag, attrs):      
        if tag == "h1":
            self.headerFlag = True
            self.indent= 0
            
        elif tag == "h2":
            self.headerFlag = True
            self.indent= 1
            
        elif tag == "h3":
            self.headerFlag = True
            self.indent= 2
        else:
            self.headerFlag = False
            self.indent= 0


    def handle_data(self, data):                
        if self.headerFlag: 
            space = " "*self.indent
            print("%s%s" % (space,data))
   
    def handle_endtag(self, tag):
        if tag in ["h1","h2","h3"]:
            self.headerFlag = False

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [19]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('http')):
            webdir(new_link, depth, indent+1)


webdir('http://reed.cs.depaul.edu/Iperkovic/csc242/test1.html',2, 0 )
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/Iperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question 8
Write SQL queries on the below database table that return:

Create Table

In [41]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\monic\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: six in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\monic\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: stack-data in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=5 in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\monic\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\monic\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\monic\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\monic\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\monic\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\monic\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\monic\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [42]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [43]:
%sql sqlite://

In [44]:
%%sql

CREATE TABLE city_information
(
City varchar(15),
Country varchar(15),
Season varchar(15),
Temperature float,
Rainfall float
);

 * sqlite://
Done.

[]

Insert records

In [45]:
%%sql
INSERT INTO city_information VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5),
('Cairo', 'Egypt', 'Summer', 27.7,0.1),
('Cairo', 'Egypt', 'Fall', 22.2,4.5);

 * sqlite://
12 rows affected.

[]

Show table

In [46]:
%%sql
select * from city_information;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data

In [47]:
%%sql
select temperature from city_information;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [48]:
%%sql
select distinct city from city_information;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [50]:
%%sql
select * from city_information where country =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [52]:
%%sql
select * from city_information where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [54]:
%%sql
select city, country, season from city_information where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [56]:
%%sql
select city, country from city_information where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [58]:
%%sql
select sum(rainfall) AS annual_rainfall from city_information where city == 'Cairo';

 * sqlite://
Done.

[(27.6,)]

h) The total rainfall for each season

In [60]:
%%sql
select season, sum(rainfall) AS city_information from city_information group by season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9
Suppose list words is defined as follows:

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print("----------------------------")
print([x.upper() for x in words])
print("----------------------------")
print([x.lower() for x in words])
print("----------------------------")
print([len(x) for x in words])
print("----------------------------")
print([[x.upper(), x.lower(), len(x)] for x in words])
print("----------------------------")
print([x for x in words if len(x)>=4])

----------------------------
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
----------------------------
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
----------------------------
[3, 5, 5, 3, 5, 4, 3, 4, 3]
----------------------------
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
----------------------------
['quick', 'brown', 'jumps', 'over', 'lazy']